#particles {
  height: 100vh;
  background-size: cover;
}

.header {
  font-family: Lato, sans-serif;
  font-size: 4rem;
  /* border-top: 1px solid white; */
  /* border-bottom: 1px solid white; */
  padding: 25px 0;
}

hr {
    background-color: black;
    width: 100%;
}

canvas {
    display:block;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

a {
  color: black !important;
}
