#particles {
  height: 100vh;
  background-size: cover;
}

.header {
  font-family: Lato, sans-serif;
  font-size: 4rem;
  padding: 25px 0;
}

hr {
    background-color: black;
    width: 100%;
}

canvas {
    display:block;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

a {
  color: black !important;
  transition: 0.5s;
}

a:hover {
  color: rgb(90, 90, 90) !important;
}

i {
  font-size: 3rem;
}

html {
  font-size: 16px;
}

@media (max-width:450px) {
  html {
    font-size: 13px;
  }
}

@media (max-width:367px) {
  html {
    font-size: 11px;
  }
}
